body{
text-align:center;
background-color:#ffff99;
}
.ibox{
width:200px;
background-color:cyan;
margin-left:20px;\

}
button
{
background-color:yellow;
}
p{
	text-align: left;
}
h3{
	text-align: left;
}
div
{
	text-align: left
}